.main-navigation {
	font-size: 20px;
	float: left;
	width: calc( 100% - 158px );
}
.main-navigation a {
	text-decoration: none;
}
.main-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-navigation ul li {
	display: inline-block;
}
.nav-work {
	float: left;
	text-transform: uppercase;
}
.nav-work li {
	margin-right: 10px;
}
.nav-company {
	float: right;
}
.nav-company li {
	margin-left: 10px;
}
.nav-search {

	position: relative;
	height: 16px;
	width: 24px;
	cursor: pointer;

	.search-icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.search-form {
		display: none;
		background: #fff;
		position: absolute;
		width: 300px;
		right: -15px;
		top: -5px;
	}
	.search-form .search-submit {
		border: none;
	}
}
.nav-search:hover {
	.search-form {
		display: block;
	}
}
.sub-nav {
	clear: both;
}