/* Calibre */

@font-face {
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 400;
	src: 	url("commercial/Calibre-Regular.eot?v1");
	src: 	url("commercial/Calibre-Regular.eot?#v1") format("embedded-opentype"), 
			url("commercial/Calibre-Regular.woff?v1") format("woff"), 
			url("commercial/Calibre-Regular.ttf?v1") format("truetype");
}

@font-face {
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 700;
	src: 	url("commercial/Calibre-Bold.eot?v1");
	src: 	url("commercial/Calibre-Bold.eot?#v1") format("embedded-opentype"), 
			url("commercial/Calibre-Bold.woff?v1") format("woff");
}

@font-face {
	font-family: 'Calibre';
	font-style: italic;
	font-weight: 400;
	src: 	url("commercial/Calibre-RegularItalic.eot?v1");
	src: 	url("commercial/Calibre-RegularItalic.eot?#v1") format("embedded-opentype"), 
			url("commercial/Calibre-RegularItalic.woff?v1") format("woff"), 
			url("commercial/Calibre-RegularItalic.ttf?v1") format("truetype");
}

/* JSA Icons */

@font-face {
	font-family: "Icons";
	font-weight: normal;
	font-style: 400;
	src:	url("jsa.eot");
	src:	url("jsa.eot?#iefix") format("embedded-opentype"),
			url("jsa.woff") format("woff"),
			url("jsa.ttf") format("truetype"),
			url("jsa.svg#jsa") format("svg");
}


.icon-larr:before {
  content: "\2190";
}
.icon-darr:before {
  content: "\2191";
}
.icon-uarr:before {
  content: "\2193";
}


.icon-architizer:before {
  content: "\e001";
}
.icon-facebook:before {
  content: "\e002";
}
.icon-gplus:before {
  content: "\e003";
}
.icon-menu:before {
  content: "\e004";
}
.icon-instagram:before {
  content: "\e005";
}
.icon-twitter:before {
  content: "\e006";
}
.icon-youtube:before {
  content: "\e007";
}
.icon-linkedin:before {
  content: "\e008";
}
